<div class="dice @GetAnimationClass() @GetFrozenClass()" style="@GetDiceStyle()" @onclick="@ToggleFrosen"></div>

@code {
    [Parameter]
    public DiceClass DiceValue { get; set; }

    [Parameter]
    public bool IsFrozen { get; set; } = false;

    [Parameter]
    public Action<DiceClass> OnToggleFreeze { get; set; }

    private bool isRolling = false; // animation flag
    private bool isBlack = false;

    private string GetDiceStyle() =>
        $"background-image: url('/sources/dice{DiceValue.Value}.png');";

    private string GetAnimationClass() => isRolling ? "rolling" : "";

    private string GetFrozenClass() => IsFrozen ? "frozen" : "";

    private void ToggleFrosen()
    {
        IsFrozen = !IsFrozen;
        OnToggleFreeze.Invoke(DiceValue);
    }
}

