<div class="game-table">
    <div class="decorative-frame">
        <div class="center-artwork">
        </div>
        <div class="dice-area">
            @for (int i = 0; i < diceList.Count(); i++)
            {
                <div class="dice-slot">
                    <Dice DiceValue="@diceList[i]"
                          OnToggleFreeze="value => ToggleDiceSelection(value)" />
                </div>
            }
        </div>
        <div class="opponents-dice-area">
            @for (int i = 0; i < diceList.Count(); i++)
            {
                <div class="dice-slot">
                    <Dice DiceValue="@diceList[i]"
                          OnToggleFreeze="value => ToggleDiceSelection(value)" />
                </div>
            }
        </div>
        <div class="bottom-panel">
            <button class="roll-button" @onclick="RollDice">Roll Dice</button>
            <button class="end-turn-button" @onclick="EndTurn">End Turn</button>
        </div>
    </div>
</div>

@code {
    private int curPlayer = 1;
    private List<DiceClass> diceList = new List<DiceClass>();

    protected override void OnInitialized()
    {
        for (int i = 0; i < 5; i++)
        {
            diceList.Add(new DiceClass { Id = i, Value = new Random().Next(1, 7) });
        }
    }

    private void RollDice()
    {
        var rand = new Random();
        foreach (var dice in diceList)
        {
            if (!dice.IsSelected)
            {
                dice.Value = rand.Next(1, 7);
            }
        }
    }

    private void ToggleDiceSelection(DiceClass value)
    {
        var index = value.Id;
        diceList[index].IsSelected = !diceList[index].IsSelected;
    }

    private void EndTurn()
    {
        // Logic for ending the turn
    }
}
