<div class="player-list">
    @if (Players.Count() == 0)
    {
        <div class="no-players">
            Waiting for other players...
        </div>
    }
    else
    {
        <p class="player-item">Players: </p>
        <div class="players">
            @foreach (var player in Players)
            {
                <div class="player-item">
                    <div class="player-name">@player.Name</div>
                </div>
            }
        </div>
    }
</div>

@code {
    [Inject]
    public GameClient GameClient { get; set; }

    [Parameter]
    public string RoomId { get; set; }

    private List<Player> Players { get; set; }

    protected override Task OnInitializedAsync()
    {
        GameClient.OnRoomsUpdated += StateHasChanged;

        Players = GameClient.Rooms[RoomId].Game.GameState.Players;
        return Task.CompletedTask;
    }

    protected void Dispose()
    {
        GameClient.OnRoomsUpdated -= StateHasChanged;
    }
}