<div class="player-list">
    @if (Players.Count() == 0)
    {
        <div class="no-players">
            Waiting for other players...
        </div>
    }
    else
    {
        <p class="player-item">Players: </p>
        <div class="players">
            @foreach (var player in Players)
            {
                <div class="player-item">
                    <div class="player-name">@player.Name</div>
                </div>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public List<Player> Players { get; set; }

    protected override Task OnInitializedAsync()
    {
        return Task.CompletedTask;
    }
}